/* Style for dropdown container */
.dropdown {
	position: relative;
	display: inline-block;
	width: 20%;
}

/* Dropdown list */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #fff;
	width: 100%;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	z-index: 1;
	max-height: 200px;
	overflow-y: auto;
}

/* Show the dropdown when focused */
.dropdown-content.show {
	display: block;
}

/* List items */
.dropdown-content div {
	padding: 10px;
	cursor: pointer;
	text-align: left;
}

.dropdown-content div:hover {
	background-color: #ddd;
}
