.datatable-selector {
    background-color: white;
    border-radius:4px;
    border: 1px solid #9e9e9e !important;  
}

#wordxplain th:first-child, #wordxplain td:first-child {
	position: sticky;
	left: 0;
	z-index: 1; /* Ensures it stays above other cells */
}

/* Add chevrons to dropdown inputs */
.dropdown {
  position: relative;
}

.dropdown input {
  padding-right: 30px; /* Make space for the chevron */
}

.dropdown::after {
  content: "▼";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #666;
  font-size: 12px;
  z-index: 1;
}

/* Optional: Change chevron color on focus */
.dropdown:focus-within::after {
  color: #005C5C;
}

/* Ensure the dropdown lists appear above the chevron */
.dropdown-content {
  z-index: 2;
}